.benefits {
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 43.5px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 55px;
  }
}

.benefits__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.benefits__headline {
  @include caption-style();

  max-width: 280px;
  margin: 0 auto;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    max-width: 520px;
  }

  @media (min-width: $desktop-width) {
    max-width: 483px;
  }
}

.benefits__subtitle {
  width: 100%;
  padding: 40px 12px 27px;
  margin: 0 auto;
}

.benefits__list {
  @include list-reset();

  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 37px;
    background: url("../img/white-triangle.svg") no-repeat;
    z-index: 1;
    background-position: bottom;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 256px 256px;
  }
}

.benefits__list li:nth-child(n+4) {
  &::before {
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d6d6d6;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }
}

.benefits__item {
  background-color: $bg-grey;
  position: relative;
  padding-bottom: 24px;

  &--main {
    color: $basic-white;
    background-color: $main-color;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  &--secondary {
    color: $basic-white;
    background-color: $main-color;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    &--main {
      grid-column: 1 / span 3;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 256px 1fr;
      padding-top: 0;
    }

    &--secondary {
      grid-column: 1 / span 3;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
      padding-top: 0;
    }
  }
}

.benefits__item-header {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  margin: 0 auto;

  &--main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    &--main {
      width: 256px;
    }

    &--secondary {
      order: 1;
      width: 256px;
    }
  }
}

.benefits__caption {
  @include caption-style();
  width: 100%;
  margin-bottom: 19px;
  margin-top: 25px;

  &--main {
    color: $basic-white;
  }

  &--secondary {
    color: $basic-white;
    margin-top: 39px;
  }
}

.benefits__number {
  @include paragraph-style();

  width: 100%;
  margin-bottom: 26px;
}

.benefits__desc {
  @include paragraph-style();

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  &--main {
    margin-bottom: 39px;
  }

  &--secondary {
    margin-bottom: 35px;
  }
}

.benefits__image {
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    width: 100%;
    height: 256px;
  }
}

.benefits__item--main .benefits__image {
  @media (min-width: $tablet-width) {
    background: url("../img/photo-city@1x-tablet.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0 0 auto;
  }

  @media (min-width: $desktop-width) {
    background: url("../img/photo-city@1x.jpg") no-repeat;
  }
}

.benefits__item--secondary .benefits__image {
  @media (min-width: $tablet-width) {
    background: url("../img/photo-bridge@1x-tablet.jpg") no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0 auto 0 0;
  }

  @media (min-width: $desktop-width) {
    background: url("../img/photo-bridge@1x.jpg") no-repeat;
  }
}
