.details {
  background-color: $basic-white;
  grid-column: 1/ span 2;
  order: 1;
}

.details__wrapper {
  display: flex;
}

.details__list {
  @include list-reset();

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0 18px;
  position: relative;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 51px 0 54px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 51px 0 70px;
  }
}

.details__item {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  text-align: start;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: relative;

    &--second {
      order: 3;
    }
  }
}

.details__icon {
  &--house {
    position: relative;
    top: 1px;
    left: 1px;
  }

  &--gift {
    margin-top: 0;
    margin-left: 5px;
    position: relative;
    bottom: 4px;
  }

  &--burger {
    position: relative;
    top: 3px;
    right: 2px;
  }

  @media (min-width: $tablet-width) {
    &--house {
      top: 0;
      left: 0;
      margin-top: 9px;
      width: 76px;
      height: 72px;
    }

    &--gift {
      position: relative;
      margin-top: 6px;
      margin-left: 0;
      width: 64px;
      height: 75px;
      bottom: 0;
    }

    &--burger {
      margin-top: 12px;
      width: 76px;
      height: 67.9px;
      top: 0;
      right: 0;
    }
  }
}

.details__caption {
  @include caption-style();

  position: relative;
  padding: 10px 49px;
  flex-grow: 1;
  width: 80%;

  &--first {
    padding: 10px 10px 10px 9px;
  }

  &--second {
    padding: 7px 10px 10px 13px;
  }

  &--last {
    padding: 8px 11px 2px 10px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 21px;
    line-height: 26px;
    width: 100%;
    padding: 0 20px;

    &--first {
      margin-top: 22px;
    }

    &--second {
      margin-top: 11px;
    }

    &--last {
      margin-top: 27px;
    }
  }

  @media (min-width: $desktop-width) {
    &--first {
      margin-top: 27px;
    }

    &--second {
      margin-top: 22px;
    }

    &--last {
      margin-top: 24px;
    }
  }
}

.details__text {
  @include paragraph-style();

  & br {
    display: none;
  }

  &--first {
    padding: 6px 10px 18px 49px;
  }

  &--second {
    padding: 6px 10px 18px 49px;
  }

  &--last {
    padding: 14px 10px 18px 50px;
  }

  @media (min-width: $tablet-width) {
    &--first {
      padding: 18px 32px 0;
    }

    &--last {
      padding: 24px 52px 5px;
    }

    &--second {
      padding: 9px 31px 12px 32px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 295px;

    & br {
      display: inline;
    }

    &--first {
      padding: 23px 0 10px;
    }

    &--last {
      padding: 20px 0 10px;
    }

    &--second {
      padding: 19px 0 6px;
    }
  }
}
