.intro {
  background: url("/img/back-mobile.jpg");
  background-color: #c5d4dc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro__headline {
  margin-top: 85px;
  margin-bottom: 90px;
  overflow: hidden;
}

