.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  min-height: 56px;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}

.page-header__logo-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 280px;
  min-height: 56px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    position: absolute;
  }
}

.page-header__link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}

.page-header__logo {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-52%);

  @media (min-width: $desktop-width) {
    left: 0;
    transform: none;
  }
}
