.page-footer__wrapper {
  @include container-mobile();

  padding-right: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    @include container-tablet();

    padding: 37px 60px 36px 60px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop();

    padding: 36px 120px;
  }
}

.page-footer__hashtag {
  @include caption-style();

  font-size: 21px;
  margin-bottom: 32.5px;
  margin-top: 40px;
  margin-right: 2px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__text {
  margin: 0;
  color: $basic-black;
  margin-top: 44px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 8px;
  }
}

.page-footer__link svg {
  margin-left: 12px;
  transform: translateY(37%);

  &:hover {
    fill: $main-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    transform: none;
    position: relative;
    top: 5px;
  }

  @media (min-width: $desktop-width) {
    top: 4px;
  }
}
