.photogallery__wrapper {
  @include container-mobile();

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 18px;

  @media (min-width: $tablet-width) {
    @include container-tablet();

    margin-top: 58px;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop();

    margin-top: 95px;
  }
}

.photogallery__title {
  @include caption-style();

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.photogallery__subtitle {
  line-height: 24px;
  margin: 0;
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    width: 430px;
    margin: 0 auto;
    margin-top: 37px;
  }
}

.photogallery__list {
  @include list-reset();

  margin: 0;
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    margin-top: 87px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin-top: 89px;
  }
}

.photogallery__item {
  border-top: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    border: none;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    width: 33%;
  }
}

.photogallery__list li:first-child {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
