.player {
  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin: 0 auto;
  }
}

.player__screen {
  position: relative;
  display: flex;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.player__screen-image {
  width: 100%;
  height: 201px;
  background: url("https://via.placeholder.com/320x201");
  background-position: center;


  @media (min-width: $tablet-width) {
    width: 100%;
    height: 500px;
    background: url("https://via.placeholder.com/648x500") no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    background: url("https://via.placeholder.com/800x500") no-repeat;
  }
}

.player__volume {
  width: 280px;
  height: 45px;
  background-color: rgba($basic-black, 0.6);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
  }
}

.player__volume-scale {
  width: 235px;
  height: 3px;
  background-color: rgba($basic-white, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::after {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $basic-white;
    position: absolute;
    top: 0;
    left: 17%;
    transform: translateY(-35%);
  }
}

.player__tools {
  width: 280px;
  margin: 0 auto;
  height: 66px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
