.player {
  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin: 0 auto;
  }
}

.player__screen {
  position: relative;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.player__screen-image {
  width: 100%;
  height: auto;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.player__volume {
  width: 88%;
  max-width: 320px;
  height: 45px;
  background-color: rgba($basic-black, 0.6);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    height: 93px;
  }
}

.player__volume-scale {
  width: 85%;
  height: 3px;
  background-color: rgba($basic-white, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::after {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $basic-white;
    position: absolute;
    top: 0;
    left: 15%;
    transform: translateY(-33%);
  }

  @media (min-width: $tablet-width) {
    width: 59.7%;
    left: 44%;

    &::after {
      left: 30%;
    }
  }

  @media (min-width: $desktop-width) {
    width: 67.7%;
    left: 45.3%;

    &::after {
      left: 21%;
    }
  }
}

.player__tools {
  width: 88%;
  max-width: 320px;
  margin: 0 auto;
  height: 66px;
  background-color: #f2f2f2;
  display: flex;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: none;
    height: 93px;
    z-index: 3;
    background-color: transparent;
  }
}

.player__tools button {
  border: none;
  background-color: transparent;
}
