.postcard {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  padding: 0 20px;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &::before {
      display: none;
    }
  }
}

.postcard__link {
  overflow: hidden;
  // display: contents;
  display: block;
}

.postcard__userphoto {
  margin-top: 23px;
  border: none;
  width: 100%;
  max-width: 400px;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    height: 267px;

    &--photo-1 {
      max-width: none;
      height: 400px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.postcard__bottom {
  padding: 0 0 16px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1px;

    &--dark {
      background-color: #eaeaea;
    }
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba($basic-black, 0.5);
    color: $basic-white;
    z-index: 1;
    padding: 0;
  }
}

.postcard__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  width: 100%;
  max-width: 279px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    justify-content: center;
    padding: 0 20px;
  }
}

.postcard__title {
  font-weight: bold;
  line-height: 24px;
  font-size: inherit;
  margin: 0;
  padding: 10px 0 1px;
  text-align: start;

  @media (min-width: $tablet-width) {
    padding: 5px 1px 0 0;
    margin-bottom: 1px;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 1px 0 0;
    margin-bottom: 2px;
    margin-top: 15px;

    &--photo-1 {
      margin-bottom: 0;
      margin-top: 16px;
    }
  }
}

.postcard__username {
  line-height: 24px;
  text-transform: none;
  text-align: start;
  padding-bottom: 13px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 1px 5px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 1px 5px 0;
  }
}

.postcard__like-counter {
  display: flex;
  align-items: center;
  position: relative;


  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    align-items: center;
    width: 111px;
    margin-top: 27.5px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    align-items: center;
    width: 80px;
    margin-top: 53px;
  }
}

.postcard__like-amount {
  display: flex;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  padding-left: 14px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 13px;

    &--first {
      left: 44px;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    left: 13px;
  }
}

.postcard__like-button {
  border: none;
  background-color: transparent;
  width: 23px;
  height: 21px;
  cursor: pointer;
  padding: 0;
  position: relative;
  bottom: 5px;

  @media (min-width: $tablet-width) {
    bottom: 5px;
    right: 62px;
    position: absolute;
  }
}

.postcard__icon {
  fill: black;
  opacity: 0.3;
  overflow: hidden;
  width: 23px;
  height: 21px;

  @media (min-width: $desktop-width) {
    position: relative;
    fill: $basic-white;
    opacity: 1;
  }
}
