.review {
  display: flex;
  justify-content: center;
  margin-top: 18px;

  @media (min-width: $tablet-width) {
    margin-top: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 97px;
  }
}

.review__wrapper {
  @include container-mobile();

  @media (min-width: $tablet-width) {
    @include container-tablet();

    max-width: none;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop();
  }
}

.review__title {
  @include caption-style();

  padding: 19px 0 17px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
    font-size: 30px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 18px;
    padding-right: 2px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 15px 0 18px;
  }
}

.review__subtitle {
  line-height: 24px;
  padding: 11px 0 16px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 437px;
    padding-top: 15px;
    padding-right: 2px;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 18px;
  }
}

.review__item {
  border: none;
  padding: 11px 0 15px 0;
  margin: 0;
  position: relative;

  &::before {
    content: "";
    height: 1px;
    min-width: 320px;
    width: 100%;
    position: absolute;
    background-color: #e5e5e5;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    width: 100%;

    &::before {
      display: none;
    }

    &--radioButton {
      order: -1;
      width: 50%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

      &::after {
        content: "";
        width: 1px;
        height: 300px;
        background-color: #dbdbdb;
        position: absolute;
        bottom: 25px;
        right: 0;
      }
    }

    &--username {
      width: 50%;
      padding-left: 9%;
    }

    &--user-contact {
      margin-top: 20px;
    }

    &--checkbox {
      margin-top: 3px;
    }
  }

  @media (min-width: $desktop-width) {
    &--username {
      padding-left: 8.35%;
    }

    &--checkbox {
      padding: 11px 0 17px;
    }

    &--radioButton {
      &::after {
        left: 100%;
      }
    }

    &--user-contact {
      margin-top: 19px;
    }
  }
}

.review__button {
  @include caption-style();
  @include button-style();

  font-size: 21px;
  padding: 18.5px 3px 13.5px 0;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding-right: 13px;
    padding-left: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 11px;
    padding-left: 11px;
  }
}

.review__inputinfo {
  display: none;

  @media (min-width: $tablet-width) {
    line-height: 26px;
    display: block;
    text-align: end;
    padding: 6px 1px 0;
    flex-grow: 1;
  }
}

.review__bottom {
  margin-top: 28px;
  margin-bottom: 37px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
    margin-top: 33px;
  }
}
