.videogram__wrapper {
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    @include container-tablet();

    border-top: none;
    padding-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop();

    padding-bottom: 84px;
  }
}

.videogram__title {
  @include caption-style();

  padding-top: 32px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 29px;
    margin-bottom: 33px;
  }
}

.videogram__subtitle {
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  margin: 0;
  margin-top: 28px;
  padding: 0 22px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 490px;
    margin-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
  }
}

.videogram__player {
  position: relative;
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
