/*----------------mixins-------------------*/
@mixin container-mobile() {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  // max-width: 320px;
  // background-color: rgba(magenta, 0.15);
  // outline: 4px solid lime;
  // outline-offset: -4px;
}

@mixin container-desktop() {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 120px;
  // background-color: rgba(red, 0.15);
  // outline: 4px solid red;
  // outline-offset: -4px;
}

@mixin container-tablet() {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 0 59px;
  // background-color: rgba(lime, 0.15);
  // outline: 4px solid lime;
  // outline-offset: -4px;
}

@mixin desktop {
  @media screen and (max-width: $desktop-width) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin outline() {
  outline: 3px solid tomato;
  outline-offset: -3px;
}

@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin caption-style() {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $basic-black;

  @media (min-width: $desktop-width) {
    // font-size: 21px;
  }
}

@mixin paragraph-style() {
  padding: 0;
  margin: 0;
  line-height: 21px;
}

@mixin button-style() {
  border: none;
  color: $basic-white;
  text-transform: inherit;
  font-family: inherit;
  background-color: $main-color;

  &:hover {
    background-color: $main-color--hover;
  }

  &:active {
    background-color: $main-color--down;
    color: rgba($basic-white, 0.3);
  }
}
