/*----------------mixins-------------------*/
@mixin container-mobile() {
  margin: 0;
  padding: 0 20px;
  width: 100%;
  max-width: 280px;
  outline: 4px solid lime;
  outline-offset: -4px;
}

@mixin container-desktop() {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  outline: 4px solid lime;
  outline-offset: -4px;
}

@mixin container-tablet() {
  max-width: 708px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  outline: 4px solid lime;
  outline-offset: -4px;
}

@mixin desktop {
  @media screen and (max-width: $desktop-width) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin outline() {
  outline: 3px solid tomato;
  outline-offset: -3px;
}

@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin caption-style() {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $basic-black;
}

@mixin paragraph-style() {
  padding: 0;
  margin: 0;
  line-height: 21px;
}
